export NIXPKGS_ALLOW_UNFREE=1

if ! has nix_direnv_version || ! nix_direnv_version 3.0.6; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.0.6/direnvrc" "sha256-RYcUJaRMf8oF5LznDrlCXbkOQrber54JGZWaPPZCbXs="
fi

if [ -f .envrc.override ]; then
    source .envrc.override
else
	use flake . --impure
fi

if [ -f .envrc.local ]; then
    source .envrc.local
fi
