<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-feature android:name="android.hardware.type.watch" android:required="true"/>
  <uses-permission android:name="android.permission.INTERNET"/>

  <application
      android:allowBackup="true"
      android:fullBackupContent="@xml/full_backup_content"
      android:dataExtractionRules="@xml/data_extraction_rules"
      android:icon="@drawable/ic_launcher"
      android:label="@string/app_name"
      android:theme="@style/AppTheme">
    <meta-data
        android:name="com.google.android.wearable.standalone"
        android:value="true"/>

    <activity
        android:name=".MainActivity"
        android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity
        android:name=".VoiceCaptureActivity"
        android:exported="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/voice_capture_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
      <intent-filter>
        <action android:name="com.colonelpanic.mova.action.VOICE_CAPTURE"/>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>

    <activity
        android:name=".AgendaActivity"
        android:exported="true"
        android:label="@string/agenda_activity_name"/>

    <service
        android:name=".ConfigListenerService"
        android:exported="true">
      <intent-filter>
        <action android:name="com.google.android.gms.wearable.DATA_CHANGED"/>
        <data
            android:scheme="wear"
            android:host="*"
            android:pathPrefix="/mova"/>
      </intent-filter>
    </service>

    <service
        android:name=".QuickCaptureTileService"
        android:description="@string/quick_capture_tile_description"
        android:exported="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/quick_capture_tile_label"
        android:permission="com.google.android.wearable.permission.BIND_TILE_PROVIDER">
      <intent-filter>
        <action android:name="androidx.wear.tiles.action.BIND_TILE_PROVIDER"/>
      </intent-filter>
      <meta-data
          android:name="androidx.wear.tiles.PREVIEW"
          android:resource="@drawable/tile_preview"/>
    </service>

    <service
        android:name=".AgendaTileService"
        android:description="@string/agenda_tile_description"
        android:exported="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/agenda_tile_label"
        android:permission="com.google.android.wearable.permission.BIND_TILE_PROVIDER">
      <intent-filter>
        <action android:name="androidx.wear.tiles.action.BIND_TILE_PROVIDER"/>
      </intent-filter>
      <meta-data
          android:name="androidx.wear.tiles.PREVIEW"
          android:resource="@drawable/agenda_tile_preview"/>
    </service>
  </application>
</manifest>
